.footer {
    padding: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f1df9463;
    font-size: 11px;
}

.footer-column {
    margin: 0px 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.footer-column-header {
    font-size: 13px;
    margin-bottom: 15px;
}

a.footer-row {
    display: block;
    color: #4d5f71;
}
