.navbar {
    padding: 10px;
    height: 60px;
    background-color: #1976d2;
    font-size: 25px;
    color: white;
    text-align: center;
    display: block;
}


#personalization {
    margin-right: 20px;
}

#navbar-header {
    margin-left: 20px;
}

#sign-in {
    margin-right: 20px;
    font-size: small;
    display: inline;
}

#sign-in button {
    color: white;
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

#sign-in button:hover {
    text-decoration: underline;
}

#log-in {
    display: inline;
}

#log-in-button{
    border: 1px solid white;
}

#log-in-button .MuiButton-label{
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-container .MuiSvgIcon-root {
    margin-right: 5px;
}
